 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
  
  body.modal-open {
  overflow: hidden;
  }
  
  .nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.58);
    visibility: hidden;
    transition: opacity 0.3s ease;
    z-index: 999;
    /* below nav, above content */
  }
  
  /* show overlay when nav active */
  .nav-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  
  body {
  
    font-family: 'Roboto';
    background-color: #f6f6f6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  p
  {
    font-weight: 400;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .header-parent-container
  {
    margin-top: 140px !important;
  }



  /* HEADER FIXED */
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    transform: translateZ(0);
    will-change: transform;
    background-color: #30abd5;
  }
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    opacity: 80%;
  }
  


  .hide-for-desk
  {
    display: none;
  }

  .logo p{
    font-size: 24px;
  }

  .resume-btn
  {
    border: none;
    background-color: #30abd5;
  }
  
  /* HAMBURGER */
  .hamburger {
    width: 30px;
    height: 24px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background: #333;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
  .show-for-mob {
    display: none;
  }
  
  .hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  


#wrap {
    margin: 20px auto;
    text-align: center;
}
.btn-slide2 {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 200px;
    line-height: 50px;
    padding: 0;
    border-radius: 50px;
    background: #fdfdfd;
    border: 2px solid #0099cc;
    margin: 10px;
    transition: .5s;
}

.btn-slide2 {
    border: 2px solid #008066;
}

.btn-slide2:hover {
    background-color: #008066;
}

.btn-slide2:hover span.circle2 {
    left: 100%;
    margin-left: -45px;
    background-color: #fdfdfd;
    color: #0099cc;
}

.btn-slide2:hover span.circle2 {
    color: #008066;
}

.btn-slide2:hover span.title2 {
    left: 40px;
    opacity: 0;
}

.btn-slide2:hover span.title-hover2 {
    opacity: 1;
    left: 40px;
}

.btn-slide2 span.circle2 {
    display: block;
    background-color: #0099cc;
    color: #fff;
    position: absolute;
    float: left;
    margin: 5px;
    line-height: 42px;
    height: 40px;
    width: 40px;
    top: 0;
    left: 0;
    transition: .5s;
    border-radius: 50%;
}

.btn-slide2 span.circle2 {
    background-color: #008066;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    position: absolute;
    left: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 16px;
    font-weight: bold;
    color: #30abd5;
    transition: .5s;
}

.btn-slide2 span.title2,
  .btn-slide2 span.title-hover2 {
    color: #008066;
    left: 80px;
  }

.btn-slide2 span.title-hover2 {
    left: 80px;
    opacity: 0;
}

.btn-slide2 span.title-hover2 {
    color: #fff;
}

.nav{
    display:flex;
    align-items:center;
  
  }
  
  
  @media (max-width: 1024px) {
  
    header .nav{
        display:none;   /* force hide */
        position:absolute;
        top:100%;
        left:0;
        width:100%;
        background:#fff;
        flex-direction:column;
        text-align:center;
      }
    
      header .nav.active{
        display:flex;
      }

   

  .nav a{
    padding:15px 0;
    border-bottom:1px solid #eee;
  }

  .hamburger{
    display:flex;
  }

  .hide-for-mob{
    display:none;
  }

  .hide-for-desk
  {
    display: block;
  }

  .nav-overlay.active{
    opacity:1;
    visibility:visible;
  }

   
  }
  